MONGODB_URI=mongodb://localhost:27017/dockchain
ALLOWED_ORIGINS=http://localhost:3000
PORT=4000
JWT_ACCESS_SECRET=your_super_secure_access_secret_key_32_chars
JWT_REFRESH_SECRET=your_super_secure_refresh_secret_key_32_chars