@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    @apply h-full w-full font-satoshi;
    background-image: theme('backgroundImage.hero-gradient');
    background-size: theme('backgroundSize.mobile');
    background-repeat: no-repeat;
    background-position: center top;
  }

  @media (min-width: 640px) {
    html,
    body {
      background-size: theme('backgroundSize.mobile');
    }
  }

  @media (min-width: 768px) {
    html,
    body {
      background-size: theme('backgroundSize.tablet');
    }
  }

  @media (min-width: 1024px) {
    html,
    body {
      background-size: theme('backgroundSize.desktop');
    }
  }
  
  h1 {
    @apply p-0 box-border text-text-primary my-lg text-5xl font-medium;
  }
  
  h2 {
    @apply text-4xl leading-tight text-text-secondary font-medium text-center mt-0 mb-6;
  }
  
  h3 {
    @apply text-3xl leading-tight text-text-feature font-medium text-center mt-0 mb-6;
  }
  
  h4 {
    @apply p-0 box-border text-center text-xl text-white my-4;
  }
  
  h5 {
    @apply m-0 p-0 box-border text-center text-zinc-300 whitespace-break-spaces text-body-large mb-lg;
  }
  
  p {
    @apply m-0 p-0 box-border text-center text-text-muted text-base;
  }
  
  a {
    @apply no-underline;
  }
  
  * {
    @apply m-0 p-0 box-border font-satoshi;
  }
}